﻿@model twoFactors.Models.UserViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (ViewBag.Status == null || !ViewBag.Status)
{

    <div>@ViewBag.Message</div>

    <div>

        <form asp-action="Index">
            <div class="form-group">

                <label for="Username">Username : </label>

                @Html.TextBoxFor(u => u.Username, new { @class =

            "form-control"})

            </div>

            <div class="form-group">

                <label for="Password">Password : </label>

                @Html.TextBoxFor(u => u.Password, new {

            @class="form-control", type="password"})

            </div>

            <input type="submit" value="Login" class="btn btn-default" />
        </form>
        <a asp-controller="Login" asp-action="SignUp">Sign Up</a>
    </div>
}

else
{

    <!--Show 2FA verification form here-->

    <div>@ViewBag.Message</div>

    <div> <img src="@ViewBag.BarcodeImageUrl" /> </div>

    <div> Manual Setup Code : @ViewBag.SetupCode </div>

    <div>
        <form asp-action="Verify2FA">
            <input type="text" id="passcode" name="passcode" />
            <input type="submit" class="btn btn-success" />
        </form>
    </div>

}
